<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.mapper.ItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dragon.bean.Item">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="sell_point" property="sellPoint" />
        <result column="price" property="price" />
        <result column="nowprice" property="nowprice" />
        <result column="num" property="num" />
        <result column="standard" property="standard" />
        <result column="barcode" property="barcode" />
        <result column="image" property="image" />
        <result column="score" property="score" />
        <result column="brandid" property="brandid" />
        <result column="cid" property="cid" />
        <result column="status" property="status" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, sell_point, price, nowprice, num, standard, barcode, image, score, brandid, cid, status, created, updated, starttime, endtime, del
    </sql>

</mapper>
